.auth_container {
    background-color: #101e2c;
    width: 600px;
    height: 45vh;
    margin: 5rem auto;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 20px;
    box-shadow: 0 5px 12px #101e2c;
}

.auth_container h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1.2rem 0;
    text-transform: uppercase;
}

.auth_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.field_control label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.field_control input {
    display: block;
    width: 25rem;
    margin: auto;
    border-radius: 15px;
    padding: 0.4rem;
    outline: none;
    border: 1px solid #ccc;
}
